# -----------------------------
# Control general
# -----------------------------
EMAIL_ENABLED=true

FMP_API_KEY=YOUR_FMP_API_KEY_HERE
# -----------------------------
# SMTP (común a todos los emails)
# -----------------------------
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD="your_app_password"

EMAIL_FROM=your_email@gmail.com

# -----------------------------
# Destinatarios
# -----------------------------

# Correos de ALERTAS (Golden Cross)
EMAIL_TO_ALERTS=user1@example.com,user2@example.com

# Correos de ERRORES del sistema
EMAIL_TO_ERRORS=admin@example.com
EMAIL_TO_SYSTEM_ERRORS=admin@example.com
